NEXT_PUBLIC_APP_URL= # app url

DATABASE_URL="postgresql://<user>:<pwd>@<host>:<port>/<db>"

BETTER_AUTH_SECRET= # openssl rand -base64 32
BETTER_AUTH_URL= # base URL of your app

RESEND_API_KEY=

# Mercado Pago
NEXT_PUBLIC_MP_PUBLIC_KEY=
MP_ACCESS_TOKEN=
MP_WEBHOOK_SECRET=