NODE_ENV= # DEV HOMOL PRD
ALLOWED_ORIGINS=

DATABASE_URL=postgresql://[usuario]:[senha]@[host]:[porta]/[nome_do_banco]

# Better Auth
BETTER_AUTH_SECRET= # openssl rand -base64 32
BETTER_AUTH_URL= # Base URL of your app
BETTER_AUTH_FRONTEND_DOMAIN=

RESEND_API_KEY=