NODE_ENV=DEV # DEV HOMOL PRD
PORT=3333

# URLs
ALLOWED_ORIGINS=
API_URL=
FRONTEND_URL=

DATABASE_URL=postgresql://[usuario]:[senha]@[host]:[porta]/[nome_do_banco]

# Better Auth
BETTER_AUTH_SECRET= # openssl rand -base64 32
BETTER_AUTH_URL= # Base URL of your app
BETTER_AUTH_FRONTEND_DOMAIN=

# Resend
RESEND_API_KEY=